header {
  display: flex;
  align-items: center;
  padding: 24px 24px 16px 24px;
}

header i {
  color: #48566a;
}

header input {
  border: none;
  margin: 0;
  padding: 4px 8px;
}

.task-list {
  display: grid;
  grid-template-columns: 20px 20px minmax(50%, 75%) minmax(20%, 50%);
  gap: 10px;
  padding: 24px;
  color: #475569;
  font-size: 14px;
}

i {
  cursor: pointer;
}

.sort {
  transition: all 0.3;
}
.sort li {
  border-bottom: 1px solid rgb(241 245 249 / 1);
}

.sort li:last-child {
  border-bottom: none;
}

/* modal */
.ant-modal {
  top: 25px;
}
